body {
  user-select: none;
  background-color: #dcd2d2;
}

header h1 svg {
  color: dodgerblue;
}
#overlay {
  width: 100%;
  height: 100vh;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  top: 0;
  left: 0;
}